/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --accent-color-cover: #DB00FF;
  --accent-color-title: #000028;
  --accent-color-subtite: #FF0070;
  --accent-color-text: #F1B2CE;
  --accent-color-button: #FF0070;
  --accent-color-button-hover: rgba(255, 0, 112, 0.6);
  --background-image: url(../images/cover-image-dark.png);
  --window: 98vw;
  --font-size: 18px;
}
